scope: {{pt_scope}}
namespace: /{{pt_cluster_name}}/
name: {{pt_node_name}}

restapi:
    listen: {{ansible_host}}:8008
    connect_address: {{ansible_host}}:8008

etcd:
    host: {{pt_etcd_list}}

bootstrap:
    dcs:
        ttl: {{pt_ttl}}
        loop_wait: {{pt_loop_wait}}
        retry_timeout: {{pt_ret_to}}
        maximum_lag_on_failover: {{pt_maxlag_on_fail}}
        postgresql:
            use_pg_rewind: {{pt_us_rewind}}

    initdb:
    - encoding: {{pt_encod}}
    - data-checksums

    pg_hba:
    {% for item in pt_host_repl %}
    - host {{pt_db_repl}} {{pt_user_repl}} {{item}} md5
    {% endfor %}

    {% for item in pt_netwk_conn %}
    - host {{pt_db_conn}} {{pt_user_conn}} {{item}} md5
    {% endfor %}

postgresql:
    listen: {{ansible_host}}:5432
    connect_address: {{ansible_host}}:5432
    data_dir: /data/patroni
    pgpass: /tmp/pgpass
    bin_dir: /usr/lib/postgresql/13/bin/
    authentication:
        replication:
            username: {{pt_user_repl}}
            password: {{pt_pass_repl}}
        superuser:
            username: {{pt_sup_us}}
            password: {{pt_sup_pw}}
    parameters:
        unix_socket_directories: '{{pt_sock}}'

tags:
    nofailover: {{pt_tg_nofailover}}
    nosync: {{pt_tg_nosync}}
log:
  dir: {{pt_log_dir}}
  level: {{pt_log_lvl}}
#
