scope: {{pt_scope}}
namespace: /{{pt_cluster_name}}/
name: {{pt_node_name}}

restapi:
    listen: {{ansible_host}}:8008
    connect_address: {{ansible_host}}:8008

etcd:
    host: {{pt_etcd_list}}

bootstrap:
    dcs:
        ttl: {{pt_ttl}}
        loop_wait: {{pt_loop_wait}}
        retry_timeout: {{pt_ret_to}}
        maximum_lag_on_failover: {{pt_maxlag_on_fail}}
        postgresql:
          parameters:
            use_pg_rewind: {{pt_us_rewind}}
            use_slots: {{pt_us_slot}}
            max_connections: {{pt_max_conn}} 
            max_locks_per_transaction: {{pt_max_lock_per_tr}}
            max_prepared_transactions: {{pt_max_prep_trans}}
            max_replication_slots: {{pt_max_repl_slot}}
            max_wal_senders: {{pt_max_wal_send}}
            max_worker_processes: {{pt_max_work_proc}} 
            shared_buffers: {{pt_shared_buf}}            
            effective_cache_size: {{pt_eff_cache_size}}
            maintenance_work_mem: {{pt_main_work_mem}}
            checkpoint_completion_target: {{pt_check_com_targ}}
            wal_buffers: {{pt_wal_buffers}}
            default_statistics_target: {{pt_def_stat_targ}}
            random_page_cost: {{pt_rand_pag_cost}}
            effective_io_concurrency: {{pt_eff_io_con}}
            work_mem: {{pt_work_mem}}
            min_wal_size: {{pt_min_wal_size}}
            max_wal_size: {{pt_max_wal_size}}
            max_parallel_workers_per_gather: {{pt_par_w_per_ga}}
            max_parallel_workers: {{pt_par_work}}
            max_parallel_maintenance_workers: {{pt_par_main_work}}
    initdb:
    - encoding: {{pt_encod}}
    - data-checksums

    pg_hba:
    {% for item in pt_host_repl %}
    - host {{pt_db_repl}} {{pt_user_repl}} {{item}} md5
    {% endfor %}

    {% for item in pt_netwk_conn %}
    - host {{pt_db_conn}} {{pt_user_conn}} {{item}} md5
    {% endfor %}

postgresql:
    listen: {{ansible_host}}:5432
    connect_address: {{ansible_host}}:5432
    data_dir: /data/patroni
    pgpass: /tmp/pgpass
    bin_dir: /usr/lib/postgresql/{{pt_pg_vers}}/bin/
    authentication:
        replication:
            username: {{pt_user_repl}}
            password: {{pt_sup_pw}}
        superuser:
            username: {{pt_sup_us}}
            password: {{pt_sup_pw}}
    parameters:
        unix_socket_directories: '{{pt_sock}}'

tags:
    nofailover: {{pt_tg_nofailover}}
    nosync: {{pt_tg_nosync}}
log:
  dir: {{pt_log_dir}}
  level: {{pt_log_lvl}}
#
