[databases]
* = host={{ansible_host}} port=5432
[pgbouncer]
auth_file = {{pt_pg_usr}}
auth_type = {{pt_pg_tepe}}
default_pool_size = {{pt_pg_pool}}
idle_transaction_timeout = {{pt_pg_idle_to}}
ignore_startup_parameters = extra_float_digits, application_name, geqo
listen_addr = {{pt_pg_adrs}}
listen_port = {{pt_pg_port}}
log_connections = {{pt_pg_log_con}}
log_disconnections = {{pt_pg_log_dcon}}
log_pooler_errors = {{pt_pg_pool_err}}
logfile = {{pt_pg_log_file}}
max_client_conn = {{pt_pg_max_conn}}
pidfile = {{pt_pg_pid}}
pool_mode = {{pt_pg_pool_mode}}
server_check_delay = {{pt_pg_chck_delay}}
server_check_query = {{pt_pg_chck_query}}
server_reset_query = {{pt_pg_rest_query}}
unix_socket_dir = {{pt_pg_un_sock}}
##
