interval: {{pt_ip_interva}}
trigger-key: "/{{pt_cluster_name}}/{{pt_scope}}/leader"
trigger-value: "{{pt_node_name}}"
ip: {{pt_ip_ip}} 
netmask: {{pt_ip_msk}} 
interface: {{pt_ip_if}} 
hosting-type: {{pt_ip_type}} 
dcs-type: {{pt_ip_dcs}} 
dcs-endpoints:
    {% for item in pt_ip_etcd %}
    "http://{{ item }}" 
    {% endfor %}

#etcd-user: "patroni"
#etcd-password: "Julian's secret password"
#etcd-ca-file: "/path/to/etcd/trusted/ca/file"
#etcd-cert-file: "/path/to/etcd/client/cert/file"
#etcd-key-file: "/path/to/etcd/client/key/file"
retry-num: {{pt_ip_rt_num}}
retry-after: {{pt_ip_rt_aft}} 
verbose: {{pt_ip_vbs}}
